body{
  background: #eaeaea;
}

#table_body{
  text-align: center;
}

#table_body img{
  width: 3000px;
  height:250px;

}

#game_poster{
  text-align: center;
}

#game_poster img{
 width: 600px;
  height: 400px;

}

