body{
  background: #eaeaea;
}
#table_body {
  text-align: center;
}
#table_body img {
  width: 250px;
  height: 250px;

}
.card img {
  width: 400px;
  height: 250px;
}

 a:visited { color: black; text-decoration: none;}
 a:hover { color: black; text-decoration: none;}



