<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">  <display-name>WebGame</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>


<!-- 시큐리티 역할 추가 -->
 <security-role>
    <description>관리자</description>
    <role-name>admin</role-name>
  </security-role>
  
<!-- 제약 조건 추가 -->
  <security-constraint>
    <display-name>WebGame Security</display-name>
    
    <!-- 웹 자원 조건 추가 -->
    <web-resource-collection>
      <web-resource-name>WebGame</web-resource-name>
      <description></description>
      <url-pattern>/GameWeb_Registration.jsp</url-pattern>
    </web-resource-collection>
    
    <!-- 권한 제약 조건 설정 -->
    <auth-constraint>
      <description>권한 관리자명</description>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  
  <!-- 시큐리티 인증 부분 -->
  <login-config>
  <!-- 폼 인증처리 방식 설정 -->
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/login_failed.jsp</form-error-page>
    </form-login-config>
  </login-config>
  
  
  
  
  </web-app>